In [1]:
import pandas as pd
import numpy as np

load the dataset

In [15]:
df = pd.read_csv('NetflixDataset.csv')

check for missing values

In [16]:
missing = df.isnull().sum().sort_values(ascending = False)
missing_percentage = (missing/len(df))*100

display both counts and percentage

In [17]:
missing_data = pd.DataFrame({'missing values': missing, "percentage": missing_percentage})
print(missing_data)

              missing values  percentage
Director                2388   30.658621
Cast                     718    9.218128
Country                  507    6.509180
Release_Date              10    0.128386
Rating                     7    0.089870
Show_Id                    0    0.000000
Category                   0    0.000000
Title                      0    0.000000
Duration                   0    0.000000
Type                       0    0.000000
Description                0    0.000000

fill missing text values with placeholders

In [22]:
df["Director"].fillna("Unknown", inplace=True) #Too many missing (30%), better to retain data with a placeholder.
df["Cast"].fillna("Unkown", inplace=True) #Nearly 10% missing. Better than dropping rows.
df["Country"].fillna("Unknown", inplace=True) #6.5% missing. Still worth keeping.

Convert Release_Date to datetime format

In [26]:
df["Release_Date"] = pd.to_datetime(df["Release_Date"], errors="coerce")

Drop rows where Release_Date is still NaN

In [28]:
df.dropna(subset=["Release_Date"], inplace=True) #Only 10 rows affected, safe to drop.

Fill Rating with default

In [31]:
df["Rating"].fillna("Not Rated", inplace=True) #Very few missing. Safe to impute.

Check again for missing values

In [33]:
print("\nMissing values after cleaning:\n")
print(df.isnull().sum())

Missing values after cleaning:

Show_Id         0
Category        0
Title           0
Director        0
Cast            0
Country         0
Release_Date    0
Rating          0
Duration        0
Type            0
Description     0
dtype: int64

*Clean and Standardize Duration Column*

The Duration column usually contains values like:

"90 min"

"1 Season"

"2 Seasons"

But:

Movies use minutes (e.g., "90 min")

TV Shows use seasons (e.g., "1 Season")

We want to:

1.Split this column into two columns:

duration_int → numeric value (90, 1, 2)

duration_type → unit of duration (min, Season, Seasons)

2.Convert this into a cleaner, analyzable form.

In [37]:
#Split the 'Duration' into number and type
df["Duration_int"] = df["Duration"].str.extract("(\\d+)").astype(int)
df["Duration_type"] = df["Duration"].str.extract("([a-zA-Z]+)")

Standardize type (e.g., convert 'Seasons' to 'Season')

In [38]:
df["Duration_type"] = df["Duration_type"].replace({"Seasons":"Season", "Mins":"Min"})

Preview the result

In [39]:
df[["Duration", "Duration_int", "Duration_type"]].head()

    Duration  Duration_int Duration_type
0  4 Seasons             4        Season
1     93 min            93           min
2     78 min            78           min
3     80 min            80           min
4    123 min           123           min

*Clean the Country Column*
    
Why clean it?

Some rows have multiple countries like "United States, India"

Some rows might have missing values (already handled them earlier, but let’s be sure)

Goal:
Fill missing countries with "Unknown" if any are still left.

Extract the first country only (assume it represents the main production country).

Create a new column like main_country.

In [40]:
#Fill missing countries if any (already cleaned, but safe)
df['Country'] = df['Country'].fillna("Unknown")

In [41]:
#Extract only the first country listed
df['main_country'] = df['Country'].apply(lambda x: x.split(',')[0].strip())

In [42]:
# Preview the result
df[['Country', 'main_country']].head()

         Country   main_country
0         Brazil         Brazil
1         Mexico         Mexico
2      Singapore      Singapore
3  United States  United States
4  United States  United States

*Clean and Standardize the Category or Type Column*
    
This column (Type) tells us whether the content is a Movie or a TV Show.
This is already quite clean — but let's make sure of a few things:

Goal:
Check unique values in the Type column.

Standardize them (e.g., lowercase or title case).

Encode them if you want to use them in modeling later.

In [44]:
#Check unique values
print("Unique values in Type column:", df['Type'].unique())

Unique values in Type column: ['International TV Shows, TV Dramas, TV Sci-Fi & Fantasy'
 'Dramas, International Movies' 'Horror Movies, International Movies'
 'Action & Adventure, Independent Movies, Sci-Fi & Fantasy' 'Dramas'
 'International TV Shows, TV Dramas, TV Mysteries'
 'Horror Movies, International Movies, Thrillers' 'Dramas, Thrillers'
 'Crime TV Shows, International TV Shows, TV Dramas'
 'Crime TV Shows, Docuseries, International TV Shows'
 'Documentaries, International Movies, Sports Movies'
 'Independent Movies, Sci-Fi & Fantasy, Thrillers'
 'Dramas, International Movies, Thrillers'
 'International TV Shows, TV Dramas'
 'Comedies, Dramas, Independent Movies' 'Sports Movies'
 'Dramas, Independent Movies, International Movies'
 'Action & Adventure, Dramas, International Movies'
 'Anime Series, International TV Shows' 'Documentaries' 'Reality TV'
 'Documentaries, International Movies' 'TV Comedies'
 'Dramas, International Movies, Romantic Movies' 'Comedies'
 'Comedies, Romantic Movies' 'Documentaries, Sports Movies'
 'Comedies, Dramas, International Movies'
 'International TV Shows, Romantic TV Shows, TV Comedies'
 'Comedies, International Movies' 'Action & Adventure, Sci-Fi & Fantasy'
 'Dramas, Romantic Movies' 'Dramas, Romantic Movies, Sports Movies'
 'Comedies, International Movies, Romantic Movies' 'Action & Adventure'
 'International TV Shows, Romantic TV Shows, TV Dramas'
 'Docuseries, Science & Nature TV'
 'Dramas, International Movies, Sports Movies' 'Movies'
 'British TV Shows, International TV Shows, Reality TV'
 'Dramas, Independent Movies, Sports Movies'
 'International TV Shows, Korean TV Shows, Romantic TV Shows'
 'Horror Movies, Independent Movies, Thrillers'
 'Crime TV Shows, TV Dramas, TV Mysteries' 'Crime TV Shows, Docuseries'
 'Horror Movies, Thrillers' 'Action & Adventure, International Movies'
 'Horror Movies, Independent Movies' 'Documentaries, Music & Musicals'
 'International Movies, Music & Musicals' 'Sci-Fi & Fantasy'
 'Dramas, Independent Movies' 'British TV Shows, Reality TV'
 'Action & Adventure, Comedies, International Movies' 'Comedies, Dramas'
 'Dramas, LGBTQ Movies' 'Documentaries, Faith & Spirituality'
 'Action & Adventure, Comedies'
 "Kids' TV, TV Action & Adventure, TV Sci-Fi & Fantasy"
 'International Movies, Thrillers' "Kids' TV"
 'International TV Shows, Romantic TV Shows, Spanish-Language TV Shows'
 'Children & Family Movies, Comedies' 'Comedies, LGBTQ Movies'
 'Comedies, Dramas, Romantic Movies' 'Action & Adventure, Dramas'
 'Dramas, Independent Movies, Romantic Movies'
 'Comedies, Independent Movies, Thrillers' 'TV Shows' 'Docuseries'
 'Comedies, International Movies, Music & Musicals'
 'Docuseries, International TV Shows, Science & Nature TV'
 'British TV Shows, Docuseries, Science & Nature TV'
 'Children & Family Movies, Dramas, Sports Movies'
 'Children & Family Movies' 'Dramas, Sci-Fi & Fantasy'
 'International TV Shows, TV Comedies, TV Dramas'
 'Action & Adventure, Classic Movies, Dramas'
 'Children & Family Movies, Dramas'
 'Action & Adventure, International Movies, Romantic Movies'
 'Children & Family Movies, Dramas, Romantic Movies'
 'Children & Family Movies, Comedies, Music & Musicals'
 'Classic Movies, Cult Movies, Dramas'
 'Action & Adventure, International Movies, Sci-Fi & Fantasy'
 'Comedies, Independent Movies' 'Comedies, Horror Movies'
 'Children & Family Movies, Comedies, Romantic Movies'
 'International TV Shows, TV Dramas, TV Horror' 'Thrillers'
 'Stand-Up Comedy & Talk Shows, TV Comedies'
 'International TV Shows, Romantic TV Shows, Teen TV Shows'
 'Crime TV Shows, International TV Shows, Korean TV Shows'
 'Comedies, International Movies, Sports Movies'
 'Dramas, LGBTQ Movies, Romantic Movies' 'Comedies, Cult Movies'
 'Dramas, Independent Movies, LGBTQ Movies'
 'International TV Shows, Reality TV' 'Stand-Up Comedy'
 'Documentaries, LGBTQ Movies'
 "Kids' TV, TV Action & Adventure, TV Comedies"
 'Anime Features, International Movies'
 'Music & Musicals, Romantic Movies' 'Comedies, Music & Musicals'
 'International TV Shows, TV Comedies'
 'International Movies, Romantic Movies'
 'Anime Features, Children & Family Movies, International Movies'
 'TV Dramas' 'Horror Movies'
 'Action & Adventure, Children & Family Movies, Independent Movies'
 'Dramas, International Movies, Music & Musicals'
 'Comedies, International Movies, Sci-Fi & Fantasy'
 'Docuseries, Science & Nature TV, TV Comedies' 'Dramas, Sports Movies'
 'Dramas, Music & Musicals, Romantic Movies'
 'Children & Family Movies, Comedies, International Movies'
 'Action & Adventure, Documentaries, International Movies'
 'Comedies, International Movies, Thrillers'
 'Action & Adventure, Dramas, Romantic Movies'
 'Horror Movies, Independent Movies, International Movies'
 'Dramas, Independent Movies, Sci-Fi & Fantasy'
 'International Movies, Sci-Fi & Fantasy'
 'Docuseries, Reality TV, Science & Nature TV'
 'British TV Shows, Docuseries, International TV Shows'
 'Docuseries, International TV Shows'
 'British TV Shows, International TV Shows, TV Comedies'
 'Action & Adventure, Horror Movies'
 'British TV Shows, Reality TV, Romantic TV Shows'
 'Crime TV Shows, International TV Shows, TV Action & Adventure'
 'International TV Shows, Reality TV, Romantic TV Shows'
 'International Movies, Music & Musicals, Romantic Movies'
 'TV Comedies, TV Dramas'
 'Anime Series, Crime TV Shows, International TV Shows'
 "Kids' TV, TV Comedies, TV Dramas" 'Action & Adventure, Comedies, Dramas'
 'Documentaries, International Movies, Music & Musicals'
 "Kids' TV, TV Comedies" 'Classic Movies, Dramas, International Movies'
 'Comedies, Independent Movies, International Movies'
 'Classic Movies, Comedies, Dramas'
 'International TV Shows, TV Action & Adventure, TV Mysteries'
 'Comedies, International Movies, LGBTQ Movies'
 'Children & Family Movies, Comedies, Sci-Fi & Fantasy'
 'TV Dramas, Teen TV Shows' 'Children & Family Movies, Independent Movies'
 'International TV Shows, Spanish-Language TV Shows, TV Comedies'
 'Crime TV Shows, TV Action & Adventure, TV Dramas'
 'Action & Adventure, Anime Features, International Movies'
 'Action & Adventure, Classic Movies, Comedies'
 'Crime TV Shows, TV Dramas' 'TV Horror, TV Mysteries, TV Thrillers'
 'TV Dramas, TV Thrillers' 'Comedies, Cult Movies, Dramas'
 'Crime TV Shows, TV Comedies, Teen TV Shows'
 'Dramas, Faith & Spirituality' 'Comedies, Dramas, LGBTQ Movies'
 'Action & Adventure, Comedies, Cult Movies'
 'International TV Shows, TV Action & Adventure, TV Comedies'
 'Dramas, Independent Movies, Music & Musicals'
 'International TV Shows, TV Horror, TV Thrillers'
 'International TV Shows, TV Horror, TV Mysteries'
 'International TV Shows, TV Dramas, Teen TV Shows'
 'Anime Series, International TV Shows, Teen TV Shows'
 'Dramas, Sci-Fi & Fantasy, Thrillers'
 'TV Action & Adventure, TV Dramas, TV Mysteries'
 'Crime TV Shows, International TV Shows, TV Comedies'
 'Action & Adventure, Comedies, Sci-Fi & Fantasy'
 'Crime TV Shows, International TV Shows, Spanish-Language TV Shows'
 'Horror Movies, Sci-Fi & Fantasy, Thrillers'
 'International TV Shows, Korean TV Shows, TV Dramas'
 'Stand-Up Comedy & Talk Shows'
 'International Movies, Sci-Fi & Fantasy, Thrillers'
 'Crime TV Shows, TV Action & Adventure'
 'International TV Shows, Korean TV Shows, TV Action & Adventure'
 'TV Action & Adventure, TV Comedies, TV Horror'
 'International TV Shows, Romantic TV Shows'
 "Crime TV Shows, Kids' TV, TV Comedies"
 'TV Comedies, TV Dramas, Teen TV Shows'
 'Docuseries, International TV Shows, Reality TV'
 "Classic & Cult TV, Kids' TV, TV Action & Adventure"
 'Horror Movies, Sci-Fi & Fantasy'
 'Romantic TV Shows, TV Dramas, TV Sci-Fi & Fantasy'
 'Dramas, International Movies, Sci-Fi & Fantasy'
 'Children & Family Movies, Sports Movies'
 'Dramas, Independent Movies, Thrillers'
 'Independent Movies, International Movies, Thrillers'
 "Anime Series, Kids' TV"
 'International TV Shows, Spanish-Language TV Shows, TV Dramas'
 'Action & Adventure, Comedies, Independent Movies'
 'International TV Shows, TV Action & Adventure, TV Dramas'
 'Children & Family Movies, Music & Musicals' 'Music & Musicals'
 'Action & Adventure, International Movies, Music & Musicals'
 'Comedies, Sports Movies' 'Classic Movies, Thrillers'
 'Docuseries, Reality TV' 'Crime TV Shows, TV Dramas, TV Horror'
 'Crime TV Shows, TV Comedies, TV Dramas'
 'British TV Shows, Docuseries, Reality TV'
 'Reality TV, Science & Nature TV, TV Action & Adventure'
 'Children & Family Movies, Documentaries, International Movies'
 'Crime TV Shows, Romantic TV Shows, TV Dramas'
 'British TV Shows, Docuseries'
 'Documentaries, LGBTQ Movies, Music & Musicals'
 'Independent Movies, Thrillers'
 'International TV Shows, TV Action & Adventure, TV Horror'
 'Children & Family Movies, Documentaries, Sports Movies'
 'Stand-Up Comedy & Talk Shows, TV Mysteries, TV Sci-Fi & Fantasy'
 'International TV Shows, Reality TV, TV Comedies'
 'Dramas, International Movies, LGBTQ Movies'
 'Action & Adventure, Dramas, Independent Movies'
 'British TV Shows, International TV Shows, TV Dramas'
 'TV Action & Adventure, TV Dramas, TV Sci-Fi & Fantasy'
 'TV Action & Adventure, TV Dramas, TV Horror'
 'Action & Adventure, Anime Features, Sci-Fi & Fantasy' 'Anime Series'
 'TV Dramas, TV Mysteries, TV Thrillers'
 'Music & Musicals, Stand-Up Comedy'
 'Docuseries, International TV Shows, Spanish-Language TV Shows'
 'Crime TV Shows, International TV Shows, Reality TV'
 "British TV Shows, Kids' TV" 'Docuseries, Spanish-Language TV Shows'
 'Crime TV Shows, TV Dramas, TV Thrillers'
 'Documentaries, International Movies, LGBTQ Movies'
 'Romantic TV Shows, TV Dramas'
 'British TV Shows, Crime TV Shows, International TV Shows'
 'Action & Adventure, Independent Movies'
 'Classic Movies, Dramas, Romantic Movies'
 'Crime TV Shows, Romantic TV Shows, Spanish-Language TV Shows'
 'Children & Family Movies, Comedies, Dramas' 'Cult Movies, Horror Movies'
 "Kids' TV, TV Thrillers" 'Classic Movies, Cult Movies, Horror Movies'
 'Anime Series, Crime TV Shows, TV Thrillers'
 'Anime Series, TV Horror, TV Thrillers' 'Classic Movies, Dramas'
 'British TV Shows, Crime TV Shows, Docuseries'
 'Action & Adventure, International Movies, Thrillers'
 'Anime Series, Teen TV Shows'
 'Children & Family Movies, Dramas, International Movies'
 'Dramas, Faith & Spirituality, International Movies'
 'TV Horror, TV Mysteries, Teen TV Shows'
 'Children & Family Movies, Classic Movies'
 'TV Dramas, TV Sci-Fi & Fantasy' 'Reality TV, Teen TV Shows'
 'Docuseries, Reality TV, Teen TV Shows'
 'International TV Shows, Stand-Up Comedy & Talk Shows, TV Comedies'
 'British TV Shows, TV Comedies'
 'International TV Shows, TV Dramas, TV Thrillers' 'Anime Features'
 'TV Horror, TV Mysteries, TV Sci-Fi & Fantasy'
 'Children & Family Movies, Classic Movies, Comedies'
 'Comedies, Faith & Spirituality, Romantic Movies'
 'Classic Movies, Comedies, International Movies'
 'Action & Adventure, Horror Movies, Sci-Fi & Fantasy'
 'Action & Adventure, Classic Movies'
 'TV Dramas, TV Sci-Fi & Fantasy, TV Thrillers'
 'Comedies, Sci-Fi & Fantasy' 'Action & Adventure, Cult Movies, Dramas'
 'TV Action & Adventure, TV Dramas' "Kids' TV, Korean TV Shows"
 'Action & Adventure, Independent Movies, International Movies'
 'Dramas, Faith & Spirituality, Independent Movies'
 'Docuseries, TV Comedies'
 'Documentaries, Faith & Spirituality, Music & Musicals'
 'British TV Shows, International TV Shows, Romantic TV Shows'
 'Romantic TV Shows, TV Comedies' "Kids' TV, Spanish-Language TV Shows"
 "British TV Shows, Kids' TV, TV Thrillers"
 'Action & Adventure, Romantic Movies'
 'Action & Adventure, Horror Movies, International Movies'
 'Children & Family Movies, Documentaries'
 "British TV Shows, Kids' TV, TV Comedies"
 'Horror Movies, Independent Movies, Sci-Fi & Fantasy'
 'TV Sci-Fi & Fantasy, TV Thrillers'
 'Romantic TV Shows, TV Comedies, TV Dramas'
 'Reality TV, Romantic TV Shows'
 'Classic Movies, Dramas, Independent Movies'
 'Romantic TV Shows, TV Dramas, Teen TV Shows'
 'TV Action & Adventure, TV Sci-Fi & Fantasy'
 'British TV Shows, TV Horror, TV Thrillers'
 'International Movies, Sports Movies' 'International Movies'
 'Anime Series, International TV Shows, TV Horror'
 'International TV Shows' 'Dramas, Music & Musicals, Sports Movies'
 'International TV Shows, Spanish-Language TV Shows, TV Action & Adventure'
 'Cult Movies, Dramas, International Movies'
 'TV Action & Adventure, TV Comedies, TV Sci-Fi & Fantasy'
 'Reality TV, Science & Nature TV'
 'Action & Adventure, Anime Features, Children & Family Movies'
 "Kids' TV, TV Action & Adventure"
 'Children & Family Movies, Sci-Fi & Fantasy' "Crime TV Shows, Kids' TV"
 'International Movies, Music & Musicals, Thrillers'
 'Crime TV Shows, Spanish-Language TV Shows, TV Action & Adventure'
 "Classic & Cult TV, Kids' TV, Spanish-Language TV Shows"
 'Romantic TV Shows, Spanish-Language TV Shows, TV Dramas'
 'Action & Adventure, Cult Movies, International Movies'
 'Crime TV Shows, Spanish-Language TV Shows, TV Dramas'
 'Action & Adventure, Children & Family Movies, Dramas'
 'Classic & Cult TV, TV Comedies'
 'Dramas, Romantic Movies, Sci-Fi & Fantasy'
 'Action & Adventure, Dramas, Sci-Fi & Fantasy'
 'International TV Shows, TV Mysteries, TV Thrillers'
 'Anime Series, International TV Shows, TV Thrillers'
 'Horror Movies, International Movies, Sci-Fi & Fantasy'
 'Comedies, Cult Movies, International Movies'
 'Comedies, Music & Musicals, Romantic Movies'
 'Children & Family Movies, Comedies, Faith & Spirituality'
 'Crime TV Shows, Docuseries, TV Mysteries'
 'Crime TV Shows, Docuseries, Science & Nature TV'
 'Classic Movies, Comedies, Cult Movies'
 'International Movies, Romantic Movies, Thrillers'
 'Classic Movies, Dramas, Music & Musicals'
 'Cult Movies, Horror Movies, Thrillers' 'Anime Features, Romantic Movies'
 'Comedies, Dramas, Music & Musicals'
 'Anime Features, International Movies, Romantic Movies'
 'Documentaries, Faith & Spirituality, International Movies'
 'Action & Adventure, Classic Movies, Sci-Fi & Fantasy'
 'International TV Shows, Stand-Up Comedy & Talk Shows'
 "British TV Shows, Kids' TV, TV Dramas"
 'Classic & Cult TV, TV Action & Adventure, TV Horror'
 'Children & Family Movies, Dramas, Faith & Spirituality'
 'Action & Adventure, Anime Features, Horror Movies'
 'Crime TV Shows, International TV Shows, Romantic TV Shows'
 'Classic Movies, Comedies, Music & Musicals'
 'Comedies, Horror Movies, International Movies'
 "Kids' TV, Spanish-Language TV Shows, Teen TV Shows" 'Independent Movies'
 'Crime TV Shows, International TV Shows, TV Mysteries'
 'Action & Adventure, Thrillers' "Kids' TV, TV Dramas, Teen TV Shows"
 "Kids' TV, TV Dramas"
 'Crime TV Shows, TV Action & Adventure, TV Comedies'
 'TV Comedies, Teen TV Shows' 'Reality TV, TV Horror, TV Thrillers'
 'Documentaries, Horror Movies'
 'Action & Adventure, Cult Movies, Sci-Fi & Fantasy'
 'Anime Series, International TV Shows, Romantic TV Shows'
 'International TV Shows, Korean TV Shows, Reality TV'
 'Action & Adventure, Comedies, Romantic Movies'
 'Comedies, Dramas, Faith & Spirituality'
 'Comedies, Faith & Spirituality, International Movies' 'Romantic Movies'
 'Dramas, Horror Movies, Sci-Fi & Fantasy'
 'International TV Shows, Korean TV Shows, TV Comedies'
 'Comedies, Independent Movies, LGBTQ Movies'
 'TV Comedies, TV Dramas, TV Sci-Fi & Fantasy' 'Dramas, Music & Musicals'
 'Dramas, Faith & Spirituality, Romantic Movies'
 'International TV Shows, TV Action & Adventure, TV Sci-Fi & Fantasy'
 'Reality TV, TV Comedies' "Docuseries, Kids' TV, Science & Nature TV"
 'Action & Adventure, Sci-Fi & Fantasy, Thrillers'
 'Action & Adventure, Children & Family Movies, Sci-Fi & Fantasy'
 'Action & Adventure, Children & Family Movies, Classic Movies'
 'Horror Movies, International Movies, Romantic Movies'
 'TV Action & Adventure'
 'International TV Shows, Korean TV Shows, Stand-Up Comedy & Talk Shows'
 'TV Comedies, TV Dramas, TV Horror'
 'British TV Shows, International TV Shows, Stand-Up Comedy & Talk Shows'
 'Dramas, Music & Musicals, Sci-Fi & Fantasy'
 'Spanish-Language TV Shows, TV Dramas' 'Documentaries, Stand-Up Comedy'
 'Classic & Cult TV, TV Action & Adventure, TV Dramas'
 'British TV Shows, TV Dramas, TV Sci-Fi & Fantasy'
 'Anime Features, Music & Musicals'
 'International TV Shows, TV Comedies, TV Sci-Fi & Fantasy'
 'Comedies, Independent Movies, Romantic Movies'
 'Comedies, Cult Movies, Horror Movies'
 'Comedies, Cult Movies, Sports Movies' 'Classic Movies, Documentaries'
 'Sci-Fi & Fantasy, Thrillers'
 'Classic & Cult TV, Crime TV Shows, International TV Shows'
 "Kids' TV, Korean TV Shows, TV Comedies"
 'British TV Shows, Romantic TV Shows, TV Dramas'
 'Action & Adventure, Faith & Spirituality, Sci-Fi & Fantasy'
 'TV Dramas, TV Sci-Fi & Fantasy, Teen TV Shows'
 'Action & Adventure, Children & Family Movies'
 'Comedies, Horror Movies, Independent Movies'
 'Action & Adventure, Classic Movies, Cult Movies'
 'International Movies, Romantic Movies, Sci-Fi & Fantasy'
 'Anime Series, Romantic TV Shows, Teen TV Shows'
 'TV Action & Adventure, TV Horror, TV Sci-Fi & Fantasy'
 'Anime Features, Music & Musicals, Sci-Fi & Fantasy'
 'Action & Adventure, Anime Features, Classic Movies'
 'International TV Shows, Reality TV, Spanish-Language TV Shows'
 'Anime Series, Romantic TV Shows'
 'International TV Shows, Reality TV, TV Action & Adventure'
 'TV Comedies, TV Dramas, TV Mysteries'
 'Crime TV Shows, TV Action & Adventure, TV Thrillers'
 'Anime Features, Children & Family Movies' 'Docuseries, TV Dramas'
 'British TV Shows, International TV Shows, TV Action & Adventure'
 'Comedies, Cult Movies, Independent Movies'
 'Action & Adventure, Horror Movies, Independent Movies'
 'British TV Shows, Docuseries, TV Comedies' 'Comedies, Documentaries'
 'British TV Shows, Classic & Cult TV, International TV Shows'
 'TV Comedies, TV Sci-Fi & Fantasy'
 'TV Comedies, TV Sci-Fi & Fantasy, Teen TV Shows'
 'Documentaries, Dramas, International Movies'
 'Anime Series, Crime TV Shows'
 'Action & Adventure, Classic Movies, International Movies'
 'Cult Movies, Independent Movies, Thrillers'
 'Comedies, Independent Movies, Music & Musicals'
 'TV Action & Adventure, TV Dramas, Teen TV Shows'
 'Romantic TV Shows, TV Action & Adventure, TV Dramas'
 'Crime TV Shows, TV Comedies'
 'Classic Movies, Cult Movies, Documentaries'
 'Children & Family Movies, Comedies, Cult Movies'
 'TV Dramas, TV Horror, TV Mysteries'
 'Classic Movies, Dramas, LGBTQ Movies'
 'Comedies, Romantic Movies, Sports Movies'
 "Anime Series, Kids' TV, TV Action & Adventure"
 'Action & Adventure, Children & Family Movies, Comedies'
 'Reality TV, TV Comedies, TV Horror'
 'Classic Movies, Dramas, Sports Movies'
 "Kids' TV, TV Action & Adventure, TV Dramas"
 'Action & Adventure, Sci-Fi & Fantasy, Sports Movies'
 'Dramas, Romantic Movies, Thrillers' 'Action & Adventure, Cult Movies'
 'Children & Family Movies, Dramas, Independent Movies'
 'British TV Shows, Crime TV Shows, TV Dramas'
 'Children & Family Movies, Comedies, LGBTQ Movies'
 'Action & Adventure, Comedies, Music & Musicals'
 'Classic Movies, Horror Movies, Thrillers'
 'Classic & Cult TV, TV Dramas, TV Sci-Fi & Fantasy'
 'Children & Family Movies, Comedies, Sports Movies'
 'Docuseries, Stand-Up Comedy & Talk Shows'
 'Action & Adventure, Dramas, Faith & Spirituality'
 'TV Comedies, TV Horror, TV Thrillers'
 'Classic Movies, Comedies, Independent Movies'
 'Crime TV Shows, TV Horror, TV Mysteries'
 'Children & Family Movies, Classic Movies, Dramas'
 'Romantic TV Shows, Spanish-Language TV Shows, TV Comedies'
 'Dramas, Faith & Spirituality, Sports Movies'
 'Classic & Cult TV, TV Action & Adventure, TV Sci-Fi & Fantasy'
 'British TV Shows, Classic & Cult TV, TV Comedies'
 'International TV Shows, Korean TV Shows, TV Horror'
 'Classic Movies, Comedies, Romantic Movies'
 'Dramas, Horror Movies, Music & Musicals'
 'Cult Movies, Horror Movies, Independent Movies'

In [52]:
#Standardize (title case for consistency)
df['Type'] = df['Type'].str.title()

In [54]:
# Preview the result
df[['Type']].head()

                                                Type
0  International Tv Shows, Tv Dramas, Tv Sci-Fi &...
1                       Dramas, International Movies
2                Horror Movies, International Movies
3  Action & Adventure, Independent Movies, Sci-Fi...
4                                             Dramas

Final Dataset Preview

In [57]:
df.head()
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
Index: 7691 entries, 0 to 7788
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Show_Id        7691 non-null   object
 1   Category       7691 non-null   object
 2   Title          7691 non-null   object
 3   Director       7691 non-null   object
 4   Cast           7691 non-null   object
 5   Country        7691 non-null   object
 6   Release_Date   7691 non-null   datetime64[ns]
 7   Rating         7691 non-null   object
 8   Duration       7691 non-null   object
 9   Type           7691 non-null   object
 10  Description    7691 non-null   object
 11  Duration_int   7691 non-null   int64
 12  Duration_type  7691 non-null   object
 13  main_country   7691 non-null   object
dtypes: datetime64[ns](1), int64(1), object(12)
memory usage: 901.3+ KB

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,Duration_int,Duration_type,main_country
count,7691,7691,7691,7691,7691,7691,7691,7691,7691,7691,7691,7691.000000,7691,7691
unique,7689,2,7689,4047,6745,678,NaN,15,216,487,7671,NaN,2,82
top,s684,Movie,Backfire,Unknown,Unkown,United States,NaN,TV-MA,1 Season,Documentaries,Multiple women report their husbands as missin...,NaN,min,United States
freq,2,5379,2,2295,710,2516,NaN,2841,1606,334,3,NaN,5379,2842
mean,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-07 22:53:43.195943424,NaN,NaN,NaN,NaN,69.962294,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,2008-01-01 00:00:00,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-07 00:00:00,NaN,NaN,NaN,NaN,2.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,2019-03-15 00:00:00,NaN,NaN,NaN,NaN,88.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-25 12:00:00,NaN,NaN,NaN,NaN,106.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-16 00:00:00,NaN,NaN,NaN,NaN,312.000000,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.728338,NaN,NaN

In [58]:
df.to_csv("netflix_cleaned.csv", index=False)